.appTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.appTitle h1{
    font-size: 2rem;
    width: fit-content;
    background-color: black;
}
.appContainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;;
}
.timerAndCount{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.appContainer > div > div{
    height: 100%;
    width: 100%;
    padding: 10px;
}
.calculator{
    width: 60%;
    justify-content: start;
}
.temperature{
    width: 91%;
}
.appName{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}
.appName h1{
    font-size: 2rem;
    width: fit-content;
    background-color: black;
}